
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

    <!-- show any messages that come back with authentication -->
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}


    {{#if user}}
        <div class="alert alert-danger">{{user}}</div>
    {{/if}}



        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
