
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

    <!-- show any messages that come back with authentication -->
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}


    {{#if user}}
        <div class="alert alert-danger">{{user}}</div>
    {{/if}}



        <p>Options go here:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>profile</a>
        <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Log Out</a>
    </div>

</div>
